<div class="add-task-container">

  <form (ngSubmit)="onSubmit($event)" class="add-form" #registerForm="ngForm">

    <h3 class="head">
      <span>Join SpaceTask today! </span>
    </h3>

    <div class="form-control">
      <input
        type="email"
        name="email"
        id="email"
        email
        [(ngModel)]="email"
        placeholder="your@email.net"
        maxlength="40"
        required
        autofocus
        #emailInput="ngModel"
        [ngClass]="{ 'valid': emailInput.valid && emailFocused, 'invalid': emailInput.invalid && emailFocused }"
        (focus)="emailFocused = true"
        (blur)="emailFocused = false"
      />
      <span
        class="validation-icon"
        [ngClass]="{ 'fa-check': emailInput.valid && emailFocused, 'fa-times': emailInput.invalid && emailFocused }"
        *ngIf="emailFocused"
      ></span>
    </div>

    <div class="form-control">
      <input
        name="password"
        type="password"
        id="password"
        [(ngModel)]="password"
        placeholder="password"
        required
        minlength="8"
        #passwordInput="ngModel"
        [ngClass]="{ 'valid': passwordInput.valid && passwordFocused, 'invalid': passwordInput.invalid && passwordFocused }"
        (focus)="passwordFocused = true"
        (blur)="passwordFocused = false"
      />
      <span
        class="validation-icon"
        [ngClass]="{ 'fa-check': passwordInput.valid && passwordFocused, 'fa-times': passwordInput.invalid && passwordFocused }"
        *ngIf="passwordFocused"
      ></span>
    </div>

      <div class="form-control">
      <input
        name="name"
        type="text"
        id="name"
        [(ngModel)]="name"
        placeholder="Your name"
        maxlength="40"
      />
      </div>


<!--    <div class="error-message" *ngIf="error">{{ error }}</div>-->

    <div class="buttons">
      <button type="submit" class="btn btn-save" [disabled]="registerForm.invalid">Sign up</button>
    </div>

    <div class="right">
      <p >Already have an account?</p>
      <a href="#" (click)="toggleRegister()">Sign in</a>
    </div>

  </form>
</div>
