<div class="task" (click)="toggleExpand()" [class.expanded]="isExpanded">
  <h3 >
    {{ isExpanded ? task.name : (task.name.length > 25 ? task.name.substring(0, 22) + '...' : task.name) }}
    <img src="/assets/pencil.png" alt="pencil" (click)="onEdit(task)">
  </h3>
  <p [style.white-space]="'pre-line'">
    {{ isExpanded ? task.description : (task.description.length > 50 ? task.description.substring(0, 42) + '...' : task.description) }}
  </p>
  <div id="details" *ngIf="isExpanded">
    <hr>
    <p>IN PROGRESS</p>
    <p>DONE</p>
  </div>
</div>
