.task {
  background: #f8f8f8;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: solid silver 0.1px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: none;
  transition: opacity 0.3s ease;
}

.description {
  color: #3A4055;
}

.task:hover {
  background-color: gainsboro;
  border: solid silver 0.1px;
}

.details.active {
  display: block;
  opacity: 1;
}

.task:hover img {
  display: block;
  opacity: 1;
}

img {
  max-width: 12px;
  display:none;
  transition: transform 0.2s ease;
}

img:hover {
  transform: scale(1.3);
}

.expanded {
  background: white;
  border: solid silver 0.1px;
}

.task.expanded: hover {
  background: pink;
}

.status_btn {
  display: inline-block;
    background: gray;
    color: #fff;
    border: none;
    width: 90px;
    padding: 4px 7px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;
    font-family: inherit;
    transition: transform 0.12s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

    .status_btn:hover {
      transform: scale(1.02);
      background: peru;
    }

    button:active {
      transform: scale(0.76);
    }
.date {
  color: gray;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.date {
  margin-left: auto;
  font-size: small;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: x-small;
  visibility: hidden;
  width: 90px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 0.27s ease;
  pointer-events: none;

  position: absolute;
  z-index: 1;
  top: 2px;
  right: 105%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.4s;
}


