<div class="add-task-container">
  <h2>edit task</h2>
  <form  class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="name"> name </label>
      <input
        type="text"
        name="name"
        id="name"
        [(ngModel)]="name"
        placeholder="Add task name"
      />
    </div>
    <div class="form-control">
      <label for="description"> description </label>
      <input
        type="text"
        name="description"
        id="description"
        [(ngModel)]="description"
        placeholder="Add description"
      />
    </div>
    <input type="hidden"
           name="id"
           id="id"
           [(ngModel)]="id"/>

    <input type="hidden"
           name="timestamp"
           id="timestamp"
           [(ngModel)]="timestamp"/>

    <div class="buttons">
      <input type="submit" class="btn btn-save btn-block" value="Save task">

      <app-button
        class="btn-block"
        color="#042157"
        text="Cancel"
        (btnClick)="onToggle()">
      </app-button>

      <app-button
        class="btn-block"
        color="crimson"
        text="Delete task"
        (btnClick)="onDelete(task)">
      </app-button>
    </div>
  </form>
</div>
