<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading">

<app-add-task (onAddTask)="addTask($event)"></app-add-task>
<app-edit-task
  [task]="currentlyEditedTask"
  *ngIf="toggleEditTask"
  (onToggleEditTask)="toggleEdit()"
  (onEditTask)="editTaskSubmit($event)"
  (onDeleteTask)="deleteTask($event)"
></app-edit-task>

<div class="container-full">
  <div class="container">
    <h2>To do</h2>
    <hr>
    <div class="container_tasks">
      <app-tasks
        [tasksFilter]="TaskStatus.TO_DO"
        [tasks]="tasks"
        (onEditTask)="editTask($event)"
        (onMoveToInProgress)="moveToInProgressFunction($event)"
        (onMoveToToDo)="moveToToDoFunction($event)"
        (onMoveToDone)="moveToDoneFunction($event)"
      ></app-tasks>
    </div>
  </div>

  <div class="container">
    <h2>In progress</h2>
    <hr>
    <div class="container_tasks">
      <app-tasks
        [tasksFilter]="TaskStatus.IN_PROGRESS"
        [tasks]="tasks"
        (onEditTask)="editTask($event)"
        (onMoveToInProgress)="moveToInProgressFunction($event)"
        (onMoveToToDo)="moveToToDoFunction($event)"
        (onMoveToDone)="moveToDoneFunction($event)"
      ></app-tasks>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>
    <hr>
    <div class="container_tasks">
      <app-tasks
        [tasksFilter]="TaskStatus.DONE"
        [tasks]="tasks"
        (onEditTask)="editTask($event)"
        (onMoveToInProgress)="moveToInProgressFunction($event)"
        (onMoveToToDo)="moveToToDoFunction($event)"
        (onMoveToDone)="moveToDoneFunction($event)"
      ></app-tasks>
    </div>
  </div>
</div>

</div>
