<div class="app-header header">
  <h1>spaceTask</h1>
</div>
<div class="container-full">

  <div class="container">
    <app-header title="to do"></app-header>
    <app-tasks [tasks]="filterTasksByStatus(TaskStatus.TO_DO)"></app-tasks>
  </div>

  <div class="container">
    <app-header title="in progress"></app-header>
    <app-tasks [tasks]="filterTasksByStatus(TaskStatus.IN_PROGRESS)"></app-tasks>
  </div>

  <div class="container">
    <app-header title="done"></app-header>
    <app-tasks [tasks]="filterTasksByStatus(TaskStatus.DONE)"></app-tasks>
  </div>

</div>