<div class="navbar">
  <div class="left-element">
    <app-header title="SpaceTask" [loggedIn]="logged"></app-header>
  </div>
  <div class="right-element">
    <app-button
      *ngIf="logged"
      color="deepskyblue"
      text="Logout"
      (btnClick)="handleLogout()">
    </app-button>
  </div>
</div>

<app-login (loggedIn)="handleLogin($event)" *ngIf="!logged" (register)="showRegisterForm()"></app-login>
<app-register *ngIf="registerForm"></app-register>
<app-tasks-board *ngIf="logged"></app-tasks-board>
<app-footer *ngIf="logged"></app-footer>
