
.container-full {
  display: flex;
}

div {
  min-width: 30%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-element {
  /* Additional styles for the left element if needed */
}

.right-element {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    color: white;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 45px;
    padding-top: 30px;
    font-size: large;
}

.right-element h3 {
  margin-right: 40px;
}




