<div class="add-task-container">

  <form (ngSubmit)="onSubmit($event)" class="add-form">

    <h3 class="head">Sign in to SpaceTask <img src="/assets/rocket.svg" alt="rocket"></h3>
    <div class="form-control">

      <input
        type="email"
        name="email"
        id="email"
        [(ngModel)]="email"
        placeholder="your@email.net"
        maxlength="40"
        required
        autofocus
      />
    </div>
    <div class="form-control">

      <input
        name="password"
        type="password"
        id="password"
        [(ngModel)]="password"
        placeholder="password"
      />
    </div>


    <div class="buttons">
      <button type="submit" class="btn btn-save" >Sign in</button>
    </div>

    <div class="right">
      <p >You don't have an account?</p>
      <a href="#" (click)="toggleRegister()">Register</a>
    </div>

  </form>
</div>
