<div class="add-task-container" *ngIf="showAddTask">
    <h2>new task</h2>
    <form  class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="name"> name </label>
            <input
                type="text"
                name="name"
                id="name"
                [(ngModel)]="name"
                placeholder="Add task name"
                maxlength="40"
            />
        </div>
        <div class="form-control">
            <label for="description"> description </label>
            <input
                type="text"
                name="description"
                id="description"
                [(ngModel)]="description"
                placeholder="Add description"
                maxlength="120"
            />
        </div>

      <div class="buttons">
        <input type="submit" class="btn btn-save btn-block" value="Save task">
        <app-button
          class="btn-block"
          color="{{ showAddTask ? '#042157' : 'mediumseagreen' }}"
          text="Cancel"
          (btnClick)="toggleAddTask()">
        </app-button>
      </div>
    </form>
</div>
