.add-form {
    margin-bottom: 40px;
    margin-left: 9px;
    width: 95%;
}

.add-form label {
    margin-left: 7px;
}

.add-task-container {
    background-color: rgba(255, 255, 255, 0.8);

    max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  height: auto;
  box-shadow: 14px 14px 8px rgba(0, 0, 0, 0.2);

}